  {{#each beers}}
  
    <div id='allBeers' class='container'>
      <img class='imgbeers' src={{this.image_url}} />
      <div id="description">
      <h1>{{this.name}}</h1>
      <h2>{{this.tagline}}</h2>
      <p>{{this.description}}</p>
      </div>
    </div>
  
  
  {{/each}}