<div class='home'>
  <div class='img'>
    <img src='/images/beer.png' alt='beer_img' />
  </div>

  <div class='buttons'>
    <a class='buttonCheck' href='/beers'>Check the Beers!</a>
    <br>
    <a class='buttonRandom' href='/random-beer'>Check a Random Beer</a>
  </div>
</div>